.add-form {
  margin-bottom: 30px;

  fieldset {
    border: 0;
    padding: 0;
    maegin: 0;
  }

  .form-control {
    width: 100%;
    border: 1px solid #ccc;
    font-size: 12px;
    padding: 8px;
    border-radius: 5px;
    margin-top: 4px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  button {
    padding: 10px 40px;
    font-size: 14px;
    background-color: #5aa32d;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
  }

  .text-danger {
    color: #ba2a2a;
  }

  .button-n-loader {
    display: flex;
    align-items: center;

    .loader {
      display: flex;
      align-items: center;
    }

    .spinner {
      margin-right: 20px;
    }
  }

}
